doctype 5
html(lang='zh-CN')
    head
        title Colorwork CI Server - Login
        link(href="/css/bootstrap.min.css",rel="stylesheet",media="screen")
        style(type='text/css')
            .center {
                display:table;
                width:auto;
                margin-left:auto;
                margin-right:auto;
            }
    body
        div.container
            div.navbar
                div.navbar-inner
                    a.brand Simple-CI
                    ul.nav
                        li
                            a(href='/') Home
                        if session.logined
                            li
                                a(href='/projects') Projects
        div.row
            div.center
                form.form-horizontal(action='/login',method='POST')
                    div.control-group
                        label.control-label(for='inputUsername') User Name
                        div.controls
                            input#inputUsername(type='text',placeholder='User name',name='username')
                    div.control-group
                        label.control-label(for='inputPassword') Password
                        div.controls
                            input#inputPassword(type='password',placeholder='Password',name='password')
                    div.control-group
                        div.controls
                            button.btn(type='submit') Sign in
        include footer
